* {
    margin: 0;
    padding:0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/*style header section*/
.banner {
    width: 100%;
    height: 800px;
    background-image: url("images/banner/banner3.png");
    background-repeat:no-repeat;
    background-size: cover;
   

}
.banner-content {
    text-align: end;
    color: #FFF;
    padding: 216px 230px 166px 850px;
    
}
.banner-content button {
    margin-left:300px;
}
.banner-content-title {
color: #FFF;
font-size: 65px;
font-weight: 700;
margin-bottom: 0;
}
.banner-content-description {
    margin-top: 24px;
    margin-bottom: 30px;
}
.btn-primary {
    margin-top: 0;
    padding: 20px 27px;
    border-radius: 5px;
    background: #FFF;
    font-weight: bold;
    align-items: end;

    
}

/*start main section*/
.first-section {
    /* width: 1170px; */
    /* margin: 0px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    /* background-color: burlywood; */
  

}
.section-parent {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    width: 900px;
    margin: 0 auto;
    /* padding: 30px 50px; */
    gap: 5rem;
    justify-content: space-between;
    
}

/*plan section*/
.section-plan-title {
    text-align: center;
    padding: 40px;
}
.section-plan-details {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 20px 50px;
    
}
.img-section {
    padding: 100px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url(images/watch.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.img-section div {
    margin-left: 30px;
}

/*footer section*/
footer {

    padding: 0 50px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  #151414;
    color:#FFF
   
}
.footer-column p {
    width: 500px;
}
.footer-column h4, input, button {
    display: block;
    margin-bottom: 30px;
}
.footer-column input {
    background-color: transparent;
    padding:10px;
    border: 1px solid white;
    border-radius: 3px;

}
.footer-column button {
    padding: 10px 34px;
    border-radius: 8px;
background: #005FAC;
}
